body {
  font-family: sans-serif;
  background-image: radial-gradient(200% 180%, white, rgb(187, 187, 187));
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
