.imageCart {
  max-height: 100px;
}

@media (max-width: 600px) {
  .cartItem {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .cartCard {
    background-color: rgb(193, 193, 193);
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
}

.h2Cart {
  color: rgb(74, 74, 74);
}

.h1Cart {
  color: rgb(74, 74, 74);
  display: flex;
  justify-content: center;
}

.cart {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cartList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}

.cartCard {
  background-color: rgb(193, 193, 193);
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cartDesc {
  display: flex;
  flex-direction: column;
}

.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 3rem;
}

.itemName {
  padding-top: 1rem;
  font-size: 24px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.price {
  font-size: 24;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.quantity {
  font-size: 24;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.totalPrice {
  padding-top: 0.6rem;
  font-size: 26px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.purchase {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.buttonCart {
  background-color: #40b548; /* Green */
  border: none;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  max-width: 300px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.buttonCart:active {
  background-color: #329138;
}

.buttonCart2 {
  background-color: #717171; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.buttonCart2:active {
  background-color: #393939;
}
